@import '../../../../themes/variables';

.login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 64px);

  h3{
    text-align: center;
    color: $primary-color;
    font-weight: 100;
  }
  .login-card{
    width: 50%;
    .form-container{
      display: flex;
      flex-direction: column;

      .login-form{
        display: flex;
        flex-direction: column;

        .form-actions{
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
        }
      }
    }
  }
}
