@import '~@angular/material/theming';
@include mat-core();
$mat-primary: (
  50: #fce9e6,
  100: #ffccb8,
  200: #ffab8a,
  300: #ff8b5a,
  400: #ff7134,
  500: #ff5900,
  600: #f45300,
  700: #e64c00 ,
  800: #d94400,
  900: #c13600,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
  )
);

$mat-accent: (
  50: #e1f2fe,
  100: #b7defe,
  200: #87cbfe,
  300: #4fb6fe,
  400: #00a6ff,
  500: #0097ff,
  600: #0089f1,
  700: #0076de,
  800: #0065cc,
  900: #0047ac,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
  )
);

$inventory-primary: mat-palette($mat-primary);
$inventory-accent:  mat-palette($mat-accent);
$inventory-warn:    mat-palette($mat-red);

$inventory-theme: mat-light-theme($inventory-primary, $inventory-accent, $inventory-warn);

@include angular-material-theme($inventory-theme);
