<mat-toolbar color="primary" class="mat-elevation-z6">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>Inventory Manager</span>
  <span class="spacer"></span>
  <div class="current_user">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>{{ currentUser.name }}
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)=logout()>
        <mat-icon>exit_to_app</mat-icon> Logout
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport [mode]="'side'" [opened]="false">
    <mat-expansion-panel>
      <mat-expansion-panel-header [expandedHeight]="'48px'">
        <mat-icon color="primary">shopping_cart</mat-icon> Products
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item [routerLinkActiveOptions]="{ exact: true }" routerLink="products/"
          routerLinkActive="active-link">View Products</a>
        <a mat-list-item [routerLinkActiveOptions]="{ exact: true }" routerLink="products/new"
          routerLinkActive="active-link">New Product</a>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>